[Unit]
Description=Screenlock service

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xss-lock -- /usr/bin/i3lock
Restart=on-failure

[Install]
WantedBy=graphical-session.target
